/*==========================================================
 20. Feature
============================================================*/
.cs_feature_widget_img {
  width: 100%;
  img {
    width: 100%;
  }
}

.cs_feature_list {
  width: min(100%, 713px);
  li {
    margin-bottom: 28px;
    position: relative;
    padding-left: 50px;
    &:last-child {
      margin-bottom: 0;
    }
    .cs_feature_icon {
      color: var(--accent-color);
      position: absolute;
      left: 0;
      top: 5px;
      font-size: 24px;
      line-height: 1em;
    }
    .cs_feature_title {
      margin-bottom: 10px;
      line-height: 1.417em;
    }
    .cs_feature_subtitle {
      line-height: 1.625em;
    }
  }
  @media (max-width: 575px) {
    li {
      padding-left: 40px;
    }
  }
}
