/*======================================================
  24. Timetable
========================================================*/
.cs_slider_container {
  position: relative;
}
.cs_slider_arrows.cs_style_1 {
  .cs_left_arrow,
  .cs_right_arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 42px;
    width: 42px;
    border: 1px solid var(--accent-color);
    color: var(--heading-color);
    cursor: pointer;
    &:hover {
      background-color: var(--accent-color);
      color: var(--black-color);
    }
  }
  .cs_left_arrow {
    left: -62px;
    z-index: 1;
  }
  .cs_right_arrow {
    right: -62px;
    z-index: 1;
  }
}
.cs_schedule_style_1 {
  .cs_slider.cs_style_1 {
    width: calc(100% - 124px);
    margin-left: 62px;
  }
  .cs_slider_wrapper {
    display: flex;
    flex-wrap: nowrap;
    gap: 18px;
    list-style: none;
    justify-content: flex-start;
    overflow: hidden;
    margin: 0;
    padding: 0;
    .cs_slide {
      flex-shrink: 0;
      white-space: nowrap;
    }
  }
  .cs_btn_style_1 {
    height: 42px;
    background-color: transparent;
    color: var(--heading-color);
    border: 1px solid var(--heading-color);
    box-shadow: 0 4px 18px 0 rgba(242, 253, 132, 0.09);
    &:hover {
      border: 1px solid var(--accent-color);
      background-color: var(--accent-color);
      color: var(--black-color);
    }
  }
  .cs_tab_links li.active a {
    color: var(--black-color);
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
  }
}

.cs_timeline_wrapper_1 {
  overflow-x: auto;
}

.cs_days_row {
  min-width: 1240px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  margin-bottom: 10px;
  gap: 10px;
  .cs_day_col {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 17px 10px;
    letter-spacing: 0.24px;
    background-color: rgba(242, 253, 132, 0.1);
    width: 140px;
    &:first-child {
      width: 190px;
    }
  }
}

.cs_content_row {
  min-width: 1240px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  margin-bottom: 10px;
  gap: 10px;
  .cs_content_col {
    padding: 30px 12px 22px;
    transition: all 0.4s ease;
    text-align: center;
    width: 140px;
    &:first-child {
      width: 190px;
      border: none;
    }
    &:has(*) {
      background-color: rgba(255, 255, 255, 0.02);
      border: 1px solid;
      border-image: linear-gradient(
          225deg,
          rgba(255, 255, 255, 0.3),
          rgba(255, 255, 255, 0)
        )
        1;
      visibility: visible;
      &:hover {
        border: 1px solid var(--accent-color);
        background-color: var(--accent-color);
        &:first-child {
          background-color: rgba(255, 255, 255, 0.02);
          border: none;
        }
        .cs_schedule_icon,
        .cs_schedule_title,
        .cs_schedule_time,
        .cs_trainer_title {
          color: var(--black-color);
        }

        .cs_trainer_title {
          opacity: 0.6;
        }
      }
    }
  }

  .cs_time {
    font-size: 12px;
    line-height: 1.833em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .cs_schedule_icon {
    height: 17px;
    width: 27px;
  }

  .cs_schedule_wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;

    .cs_schedule_title {
      line-height: 1.625em;
      margin-bottom: 2px;
    }

    .cs_schedule_time {
      font-size: 12px;
      line-height: 1.833em;
      margin-bottom: 3px;
    }

    .cs_trainer_title {
      font-size: 12px;
      line-height: 1.833em;
      margin-bottom: 0;
    }
  }
}

.cs_tab_body {
  position: relative;
  .cs_tab {
    display: none;
    &.active {
      display: block;
    }
  }
}
